header, body, nav, footer, div {
	border: solid black 2px;
}
nav{
	width: auto;
	height: 10%;
}

header {
	width: auto;
	height: 90%;
	text-align: center;
}

body {
	width: auto;
	height: 1080px;
	margin: 0 auto;
}

footer{
	width: auto;
	height: 10%;
}

.icons {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 5%;
	margin-top: 20%;
}

.mainSection {
	width: auto;
	height: 60%;
	text-align: center;
}

.book_Sect{
	background-color: red;
}

.port_Sect{
	background-color: blue;
}

.comic_Sect{
	background-color: green;
}

.album_Sect{
	background-color: yellow;
}


