header, body, nav, footer, div {

}

.format{
	width: auto;
	height: 55%;
	background-image: url('img/photo1.jpg');
	background-size:cover;
	}

#fffoto {
	height: 600px;
	width: 100%;
}

.titulo {
	width: 1024px;
	text-align: right;
	margin: 0 auto;
}

.titulo h1{
	font-family: 'bonvenocflight';
	font-size: 240px;
	color: #22AFAB;
	margin-bottom: -30px;
}

.titulo p{
	font-family: 'kaushan_scriptregular';
	font-size: 70px;
	color: #22AFAB;
}

nav{
	width: 90%;
	border-radius: 3em;
	text-align: center;
	position: fixed;
	top: 2%;
	left: 5%;
}

.nav_color{
	background-color: #A0A0A0;
	opacity: 0.5;
}

.float_right{
	float: right;
	padding:0.8% 5% 0.8% 0;
}

.botones {
	width: auto;
	height: 60%;
	text-align: center;
}

body {
	width: auto;
	height: 1080px;
	margin: 0 auto;
}

footer{
	width: auto;
	height: 10%;
	position: fixed;
	bottom: 0;
}

a{
	text-decoration: none;
}
a:visited {
	color: black;
}

.footer_log{
	width: auto;
	height: 20%;
	text-align: center;
}
.texto_nav{
	font-family: 'bonvenocflight';
	font-size: 150%;
	color: #000000;

}
.link_nav {
	padding-left: 50px;
	font-weight: bold;
}

.icons {
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 2%;
	background-color: #22AFAB;
	border-radius: 50%;
	font-family: 'bonvenocflight';
	font-size: 180%;
}

.mainSection {
	width: auto;
	height: 60%;
	text-align: center;
	display: block;
	margin-top: 10%;
}

.book_Sect{
	background-color: red;
}

.markDown{
	width: 30%;
	height: 100%;
	display: inline-block;
	margin-left: 1%;
	vertical-align: top;
}

.port_Sect{
	background-color: blue;
}

.comic_Sect{
	background-color: green;
}

.album_Sect{
	background-color: yellow;
}

.box_foot{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #FFFFFF;
}

