header, body, footer, div {
	border: solid black 2px;
}

header {
	width: auto;
	height: 650px;
}

body {
	width: auto;
	height: 1080px;
	margin: 0 auto;
}

div {
	width: 200px;
	height: 230px;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
}

#lsicons {
	text-align: center;
}