<nav id="_nav" class="nav_color texto_nav">
	<div class="float_left">
	<p> myworks</p>
	<p><%= link_to 'editar perfil', edit_user_registration_path  %></p>
</div>
	<div class="float_right">
		
		<p><%= link_to 'new', root_path %></p>
	</div>
</nav>

<section class="myworks infoMyworks">
	<ul>
		<li><p>title / created / e / d</p></li>
		<li><p>title / created / e / d</p></li>
		<li><p>title / created / e / d</p></li>
		<li><p>title / created / e / d</p></li>
		<li><p>title / created / e / d</p></li>
		<li><p>title / created / e / d</p></li>
		<li><p>title / created / e / d</p></li>
	</ul>
</section>
<footer id="footer" class="footer nav_color">
	<a href="#_header"><div class="box_foot verticaly"></div></a>
	<p class="brand">TEAMWORK</p>
	<ul><a href="http://estelapedrero.com">miguel angel herias</a>
		<li><a href="">&#xf099;</a></li>
		<li><a href="https://github.com/KiwiPlus">&#xf09b;</a></li>
		<li><a href="https://github.com/Franx0">&#xf0e1;</a></li>
	</ul>
	<ul><a href="https://soundcloud.com/franx0-1">francisco moya</a>
		<li><a href="https://twitter.com/Franxo06">&#xf099;</a></li>
		<li><a href="https://github.com/Franx0">&#xf09b;</a></li>
		<li><a href="https://www.linkedin.com/pub/fran-moya/57/876/346">&#xf0e1;</a></li>
	</ul>
	<ul><a href="http://estelapedrero.com">estela pedrero</a>
		<li><a href="http://twitter.com/sala_de_star">&#xf099;</a></li>
		<li><a href="https://github.com/estelapedrero">&#xf09b;</a></li>
		<li><a href="https://www.linkedin.com/in/estelapedrero">&#xf0e1;</a></li>
	</ul>
	<p class="brandcopy">&copylogbook</p>
</footer>
