<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="CSS/reset.css">
	<link rel="stylesheet" type="text/css" href="CSS/util.css">
	<link rel="stylesheet" type="text/css" href="CSS/plantilla.css">
	<link rel="stylesheet" type="text/css" href="CSS/fonts/fonts.css">
	<link rel="stylesheet" href="CSS/font-awesome/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<title>login</title>
</head>
<body>
	<header class="titulo2">
		<p>welcome to</p>
		<h3>logbook</h3>
	</header>
	<div class="login">
		<form action="/login" method="POST">
		<ul>
			<li>user
				<div class="input" action="/registro">
   					<input id="user" type="text" name="nickname" value="&#xf003; nickname">
				</div>
			</li>
			<li>password
				<div class="input" action="/registro">
   					<input id="pwd" type="password" name="pwd" value="&#xf023; password">
				</div>
			</li>
		</ul>
		<button type="submit" class="button" id="button">GO</div>
	</form>
	</div>
</body>
</html>

