/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body{
	background-color: #E0E0E0;
}
.myworks {
  	font-family: "bonvenocflight";
  	margin: 4% 5%;
}

.myworks ul {
	font-size: 21px; 
	width: 100%;
	text-align: center;
}
.myworks li {
	background-color: #fff;
	border: solid 5px #22AFAB;
	list-style: none;
	padding: 35px;
	margin: 1%;
	display: inline-block;
	border-radius: 20px;
	position: relative;
}

.infoMyworks li p{
	font-size: 18px;
	position: absolute;
	bottom: -30px;
	left:15px;
}
.infoMyworks a{
	display:block;
}