header, body, nav, footer, div {
}

article {
	display:inline-block;
}

.format{
	width: auto;
	height: 75%;
	background-image: url('photo1.jpg');
	background-size:cover;
	-webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

#fffoto {
	height: 600px;
	width: 100%;
}
.titulo {
	width: 1024px;
	text-align: right;
	margin: 0 auto;
}

.titulo h1{
	font-family: 'bonvenocflight';
	font-weight: bold;
	font-size: 240px;
	color: #22AFAB;
	margin-bottom: -30px;
}

.textos_imp {
	font-family: 'bonvenocflight';
	font-size: 40px;
	color: #22AFAB;
	padding: 0 auto;
	margin: 5% 10% 0 10%;
}
.titulo p{
	font-family: 'kaushan_scriptregular';
	font-size: 70px;
	color: #22AFAB;

}

nav{
	width: 90%;
	border-radius: 3em;
	text-align: center;
	position: fixed;
	z-index:5;
	top: 2%;
	left: 5%;
}

.nav_color{
	background-color: #A0A0A0;
	opacity: 0.5;
}

.float_right{
	float: right;
	padding:0.8% 5% 0.8% 0;
}
.float_left {
	float: left;
	padding:0.8% 0 0.8% 3%;
}
.float_left p{
	display: inline-block;
	font-weight:bold;
}
.float_right p{
	display: inline-block;
}
.botones {
	background-color:white;
	width: auto;
	height: 60%;
	text-align: center;
	margin-top: 9%;
}

body {
	width: auto;
	height: 1080px;
	margin: 0 auto;
}

.footer{
	width: 100%;
	max-height: 0px;
	position: fixed;
	bottom: 0;
	text-align:center;
	-webkit-transition-property: max-height;
  	-webkit-transition-duration: .9s;
  	-moz-transition-property: max-height;
  	-moz-transition-duration: .9s;
  	-o-transition-property: max-height;
  	-o-transition-duration: .9s;
  	-ms-transition-property: max-height;
}

a{
	text-decoration: none;
}
a:link{
	color: #000000;
}
a:visited{
	color: #000000;
}
a:hover{
	color:#22AFAB;
}
.brand{
	font-size: 1.2rem;
	font-family: 'bonvenocflight';
	font-weight: bold;
	margin-top: -10px;
}
.brandcopy{
	font-size: 0.9rem;
	font-family: 'bonvenocflight';
	font-weight: bold;
	margin-bottom:20px;
}

footer ul{
	font-family: 'FontAwesome','bonvenocflight';
	font-size: 1.4rem;
	color: #202020;
	line-height: 100%;
	display: inline-block;
	margin: 20px 40px;
}
footer li {
	display: inline-block;
}

footer a:visited{
	color: #202020;
}
footer a:link{
	color: #202020;
}
footer a:hover{
	color: #22AFAB;
	font-weight: bold;
}
/*Animacion footer*/
footer:hover{
	max-height: 20%;
  	-webkit-transition-property: max-height;
  	-webkit-transition-duration: .9s;
  	-moz-transition-property: max-height;
  	-moz-transition-duration: .9s;
  	-o-transition-property: max-height;
  	-o-transition-duration: .9s;
  	-ms-transition-property: max-height;
}

.foot_end{
	max-height: 20%;
  	-webkit-transition-property: max-height;
  	-webkit-transition-duration: .9s;
  	-moz-transition-property: max-height;
  	-moz-transition-duration: .9s;
  	-o-transition-property: max-height;
  	-o-transition-duration: .9s;
  	-ms-transition-property: max-height;
}

.texto_nav{
	font-family: 'bonvenocflight';
	font-size: 150%;
	color: #000000;
}
.link_nav {
	padding-left: 50px;
	font-weight: bold;
}
.cent_img {
	margin-top:20%;
}
.cent_txt {
	margin-top:-40%;
}
.icons {
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 2%;
	background-color: #22AFAB;
	border-radius: 50%;
	font-family: 'bonvenocflight';
	font-size: 180%;
	-webkit-box-shadow:0px 0px 5px 0px rgba(160,160,160, 0.5) inset, 0px -1px 5px 4px rgba(160,160,160, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(192,192,192, 0.4), 0px 0px 0px 9px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(160,160,160, 0.5) inset, 0px -1px 5px 4px rgba(160,160,160, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(192,192,192, 0.4), 0px 0px 0px 9px #fff;
    box-shadow:0px 0px 5px 0px rgba(160,160,160, 0.5) inset, 0px -1px 5px 4px rgba(160,160,160, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(192,192,192, 0.4), 0px 0px 0px 9px #fff;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.markDown{
	width: 35%;
	height: 80%;
	margin: 3% 1% 1% 1%;
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	cursor: pointer;
	word-wrap:break-word;
}

.markDown p {
	font-size: 24px;
	padding: 2%;
	word-wrap:break-word;
}

.markDown h1{
	font-size: 2em; 
	margin: .67em 0;
}

.markDown h2{
	font-size: 1.5em; 
	margin: .75em 0;
}

.markDown h3{
	font-size: 1.17em; 
	margin: .83em 0;
}

.mainSection {
	height: 80%;
	text-align: center;
}
.classButtons{ /*añadida por Fran*/
	width: 50px;
	height: 20px;
	border-radius: 5rem ;
	cursor: pointer;
}

.activeButtons{ /*añadida por Fran*/
	color: #22AFAB;
	font-size: 14px;
}

.menu {
	font-family: 'bonvenocflight';
	padding: 5px;
	margin: 8% 6% 1% 0;
	display:inline-block;
	height:80%;
}

.a_Sect{
	background-color: #606060;
}
.b_Sect{
	background-color: #C0C0C0;
}

.box_foot{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #A0A0A0;
	margin: 0 auto;	
	margin-top: -20px;
}
.a-btn{
	-webkit-border-radius:50%;
    -moz-border-radius:50%;
    -webkit-box-shadow:0px 0px 5px 0px rgba(160,160,160, 0.5) inset, 0px -1px 5px 4px rgba(160,160,160, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(192,192,192, 0.4), 0px 0px 0px 9px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(160,160,160, 0.5) inset, 0px -1px 5px 4px rgba(160,160,160, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(192,192,192, 0.4), 0px 0px 0px 9px #fff;
    box-shadow:0px 0px 5px 0px rgba(160,160,160, 0.5) inset, 0px -1px 5px 4px rgba(160,160,160, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(192,192,192, 0.4), 0px 0px 0px 9px #fff;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn span{
    display:block;
    color:#fff;
    text-shadow:0px 1px 1px #606060;
    font-family:"Arvo", "Myriad Pro", "Trebuchet MS", sans-serif;
    font-size: 42px;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn span:nth-child(1), 
.a-btn span:nth-child(3){
    opacity:0;
}

.a-btn:hover{
    background-color:#C0C0C0;
    -webkit-box-shadow:0px 0px 5px 0px rgba(160,160,160, 0.5) inset, 0px -1px 5px 4px rgba(160,160,160, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(192,192,192, 0.6), 0px 0px 0px 9px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(160,160,160, 0.5) inset, 0px -1px 5px 4px rgba(160,160,160, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(192,192,192, 0.6), 0px 0px 0px 9px #fff;
    box-shadow:0px 0px 5px 0px rgba(160,160,160, 0.5) inset, 0px -1px 5px 4px rgba(160,160,160, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(192,192,192, 0.6), 0px 0px 0px 9px #fff;
}
.a-btn:hover spanfo:nth-child(3){
    opacity:1;
}
.a-btn:hover span:nth-child(2){
    opacity: 0; 
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.classboard{
	width: 400px;
	height: 300px;
	background-color: #ffffff;
	display: inline-block;
}
.login{
	width: 500px;
	background-color: #22AFAB;
	text-align: center;
	margin: 10px auto;
	border-radius: 40px;
	padding-top: 6px;
	-webkit-box-shadow: 12px 12px 21px -8px rgba(18,18,18,0.44);
	-moz-box-shadow: 12px 12px 21px -8px rgba(18,18,18,0.44);
	box-shadow: 12px 12px 21px -8px rgba(18,18,18,0.44);
}
.textologin {
	color: #202020;
	font-size: 20px;
	font-weight: bold;
	font-family: 'bonvenocflight';
	padding: 5px 0;
	display: inline-block;
}
.login input{
	width: 350px;
	height: 40px;
	font-family: 'FontAwesome', 'kaushan_scriptregular';
	font-size: 22px;
	color: #C0C0C0;
	padding-left: 10px;
	margin: 5px 0 15px 0;
}
.login ul {
	padding-left: 0;
	text-align: left;
	width: 350px;
	margin: 0 auto;
}
.login li {
	color: #202020;
	font-size: 20px;
	font-weight: bold;
	font-family: 'FontAwesome', 'bonvenocflight';
	padding: 5px 0;
	display: inline-block;
}
.login li:first-child{
	padding-top: 20px;
}
.rememberMe{
	font-size:16px;
	padding: 10px;
	text-align: center;
	font-family:'bonvenocflight';
}
.log{
	font-size:24px;
	padding: 10px;
	text-align: center;
	font-family:'bonvenocflight';
}
.rememberMe label{
	width: 350px;
	height: 40px;
	font-size: 22px;
}
.button input{
	width: 60px;
	height: 60px;
	background-color: #C0C0C0;
	color: #202020;
	font-family: 'bonvenocflight';
	font-weight: bold;
	font-size: 20px;
	padding: 12px;
	border-radius: 50%;
	display:inline-block;
	margin: 0 0 15px 0;
	-webkit-box-shadow: 6px 11px 9px -9px rgba(0,0,0,0.66);
	-moz-box-shadow: 6px 11px 9px -9px rgba(0,0,0,0.66);
	box-shadow: 6px 11px 9px -9px rgba(0,0,0,0.66);
}
.titulo2 {
	width: 500px;
	margin: 0 auto;
	text-align: right;
	margin: 20px auto;
}

.titulo2 h3{
	font-family: 'bonvenocflight';
	font-size: 110px;
	color: #22AFAB;
	margin: 0 10px 0 0;
}
.titulo2 p{
	font-family: 'kaushan_scriptregular';
	font-size: 44px;
	color: #22AFAB;
	margin: 0 70px -35px 0;
}
/* BOTONES Y UPARROW



*/


.downarro {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid gray;
}
.uparro {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid gray;

}


/* cambios a barra lateral 

*/

nav.sidef-menu-collapsed {
  width: 50px; 
}
nav.sidef-menu-expanded {
  width: 106px; 
}
nav.sidef {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 gray;
  color: white;
  padding: 60px 10px 0px 10px; 
  margin: 8% 6% 1% 0px;
  height: 80%;
  font-family: "bonvenocflight";

}
aside.sidef a#justify-icon {
  outline: 0;
  color: white;
  font-size: 24px;
  font-style: normal; 
}

aside.sidef ul {
  margin: 0;
  padding: 0;
  margin-top: 60px; 
}
aside.sidef ul li {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style-type: none; 
}
aside.sidef ul li a.expandable {
  outline: 0;
  color: white;
  text-decoration: none;
  font-size: 20px; 
  padding: 15px;
}
aside.sidef ul li a.expandable:hover {
  color: #bbbbbb; 
}
aside.sidef ul li a.expandable span.expanded-element {
  margin-left: 2px;
  display: none;
  position: relative;
  bottom: 2px; 
}
aside.sidef ul li.active {
  background: none repeat scroll 0 0 black;
  border-radius: 4px;
  text-align: center;
  margin-left: -4px;
  padding: 4px; 
}
aside.sidef ul li.active a.expandable {
  color: white !important; 
}
aside.sidef ul li.active a.expandable:hover {
  color: white !important; 
}
.point {
	cursor:pointer;
}

